#cartIcon{
  position:absolute;
  right:40px;
  font-family:sans-serif;
}

#cartIcon > img {
  width:20px;
}

.menu-item{
  cursor:pointer;
}

.hidden{
  display:none;
}

.hiddenUp{
  transform:translate(0,-130%);
}

#blocker{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background:rgba(0,0,0,0.5);
  scroll:none;
}

#cart{

  background:white;
  width:60%;
  height:90%;
  margin-left:0 auto;
  position:absolute;

  padding:10px;
  box-shadow:10px 10px 20px rgba(0,0,0,0.5);

  transition-duration: 0.5s;
  -webkit-transition-property: transform; /* Safari */
  transition-property: transform;
}

